body {
    margin: auto;
    padding: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    background-color: #000b16;
}


/* hide message if browser supports grid */
@supports(display:grid) {
    .message{
        display: none;
    }
}

/* message styling if grid not supported */
.message {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


/* Set up grid */
.wrapper {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo banner"
        "side main"
        "foot foot";
        
    background-color: #000b16;
    grid-gap: 4px;
    }


.box {
    background-color: #444; /* dark grey */
    border-radius: 5px;
    padding: 20px;
    border-color: rgb(151, 151, 151);
    }


/* make logo and banner the same colour */
.logo, .main {
    background-color: #000d20; 
    color: #fff;
}

.banner, .side {
    background-color: #0a0d1b; /* blue grey */
    border-color: rgb(151, 151, 151);
}


.logo {
    grid-area: logo;
    height: 150px;
    border-radius: 0 5px 5px 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    
    
}

.banner {
    grid-area: banner;
    vertical-align: middle;
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
    max-height: 200px;
    padding-top: 0;
    padding-bottom: 0;
    
}


.main {
    grid-area: main;
    color: rgb(255, 255, 255);
}

.side {
    grid-area: side;
    font-size: 14px;
    
}

.footer {
    grid-area: foot;
    text-align: right;
    color: #fff;
    background-color: #636263;
}


/*** Headings ***/

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #593849;
    font-weight: bold;
}

/***** Links *****/

/* links in page */
/*
a:link{color: #7691b8;}
a:visited{color: rgb(162, 92, 209);}
a:hover{color: #343f4e;}
*/
/* side links */
a.side {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    text-decoration: none;
}
a.side:link, a.side:visited {color: #636263;}
a.side:hover {color:#8a1737; }


/**** Results ****/

.results {
    background-color: #00152c;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #0c3563;
    padding: 5px;
}


.error {
    background-color: #ffe0ed;
    border: 2px solid #8a1737;
    color: #8a1737;
    border-radius: 5px;
    padding: 20px;
    }

    .tags {
        background-color: #ffffff;
        color: #00152c;
        border-radius: 5px;
        padding: 5px;
        display: inline-block;
    }

.pos_reviews {
    background-color: #1a8b33;
    color:#ffffff;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;

}

.neg_reviews {
    background-color: #e22908;
    color:#ffffff;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;

}

.no_reviews {
    background-color: #ffffff;
    color:#000000;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;

}

.applink {
    background-color: #042952;
    color:#ffffff;
    border-color: #fff;
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    

}

.applink:hover {
    color: #042952;
    background-color:#ffffff;
    border-color: #fff;
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    
}

.applink_a {
    background-color: #042952;
    color:#ffffff;
    border-color: #fff;
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    

}

.applink_a:hover {
    color: #042952;
    background-color:#ffffff;
    border-color: #fff;
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    
}

.description {
    background-color: #042952;
    color:#ffffff;
    border-color: #fff;
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    

}





